{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
      <!-- <p class="meta">Open Source Apache 2.0 Licensed. <a href="https://github.com/Tencent-Cloud-Mesh"> GitHub 👀</a></p> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">可靠支撑</h2>
          <p>业界领先的服务化网格支撑能力，灵活满足网格控制面的运维可控性与可用性，保障网格生命周期管理。支持金丝雀升级，提供跨集群一致的 Istio CRD 转发管理能力，降低运维与使用成本。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">优化性能 ⚡️</h2>
          <p>长期在用户态与内核态投入进行深度优化，提供高性能的数据面 envoy 版本和支持 eBPF 流量劫持转发模式，CPU 开销降低 15% - 20%，P99 延迟 降低 20% - 40%。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">能力拓展</h2>
          <p>增强的数据面运维管理能力，支持 sidecar 状态监控和热升级等管理特性；增强 Ingress Gateway，支持SSL/证书，ingress API；增强网格遥测数据计算与输出能力，优化资源利用率。</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">一致管理</h2>
          <p>动态增删服务发现 K8S 集群，支持注册 VM 负载，管理多集群异构应用。网格统一服务管理 Dashboard 网格资源、组件与配置管理。遥测数据聚合展示提供分布式应用流量调度感知分析。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">服务集成</h2>
          <p>无缝对接 VPC CCN CLB 等 IaaS 网络，轻松跨集群/VPC/地域组网与接入流量，集成云监控、Prometheus、日志服务、等产品提供开箱即用的观测能力。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">生态完善</h2>
          <p>100% 兼容原生 Istio & Envoy api，保持与社区版本更新演进。腾讯内部 Service Mesh 开源协同支撑平台，协同输出内部共建能力反哺客户与社区。</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
